<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROCESSING" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
<!--    <uses-permission android:name="android.permission.CAMERA" />-->
<!--    <uses-feature android:name="android.hardware.camera.any" android:required="false" />-->

<!--    android:networkSecurityConfig="@xml/network_security_config"-->
<!--    android:usesCleartextTraffic="false"-->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Liquiddetect"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".capture.TestActivity2"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Liquiddetect.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".platform.notification.VideoProcessingForegroundService"
            android:exported="false"
            android:foregroundServiceType="mediaProcessing" />
<!--        <activity android:name=".feature.capture.TestActivityWeb" />-->
    </application>

</manifest>
